* {box-sizing:border-box}


.container {
  width: 100%; 
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.points {
  width: 50%; background: linear-gradient(#55680D, rgba(0, 255, 0, 0.2), #116C31)
}