* {
  box-sizing: border-box
}


.container {
  width: 90%;
  background-color: #ddd;
margin-left: 86.4px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}