.blog {
  background-color: #0060A3;
  list-style-type: none;
  border: 1px solid white;
  border-top: none;
  position: fixed;
  overflow: hidden;
  height: fit-content;
  width: 10%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

div a {
  text-align: center;
  display: block;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
  padding: 8px 16px;
  font-family: sans-serif;
}

div a:hover {
  text-align: center;
  background-color: blue;
  display: inline-block;
  color: grey;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
}

div p {
  font-size: 20px;
  font-family: sans-serif;
}